body {
  box-sizing: border-box;
  margin: 0;
  font-family: "SF Ui Display", sans-serif;
  overflow-x: hidden;
}


.container-fluid {
  width: 100%;
  max-width: 1330px;
  padding-right: 48px;
  padding-left: 48px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1140px;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #F6F7F9;
}

.main {
  flex: 1;
  padding-bottom: 150px;
}

.scroll-locked {
  height: 100vh;
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

svg, img {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
}

.icon {
  display: inline-block;
  flex-shrink: 0;
  background-repeat: no-repeat!important;
  background-size: contain!important;
  background-position: center!important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.absolute-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.overlay {
  background: rgba(0,0,0,0.4);
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.overlay.show {
  display: block;
}

.btn-plain {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  margin: 0;
}

.submit-btn {
  background: #181818;
  box-shadow: 0 14px 30px rgba(243, 115, 33, 0.44);
  border-radius: 50px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  text-align: center;
  color: #FFFFFF;
}

.submit-btn-light {
  background: #FFFFFF;
  border-radius: 50px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  text-align: center;
  color: #373737;
}

.submit-btn:focus, .submit-btn:active {
  outline: none;
}

.title-lg {
  font-family: 'Phenomena', sans-serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 110%;
  text-transform: uppercase;
  color: #1B1717;
}

.title-md {
  display: block;
  font-family: 'Phenomena', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #1B1717;
}

.orange-colored {
  color: #F37321;
}

.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
  color: #B9B9B9;
}

.section {
  padding-top: 150px;
}

.text-link {
  display: block;
  width: fit-content;
  position: relative;
  padding-right: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #F37321;
}

.text-link:hover {
  color: #F37321;
}

.text-link:after {
  content: '';
  background: url("../img/icon/arrow-right.svg") no-repeat center/contain;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease;
}

//**************************************//
.form-container {
  padding: 12px 0;
  border-bottom: 1px solid #DFDFDF;
}

.form-container input {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #000000;
  border: none;
  background: transparent;
}

.form-container input:focus {
  outline: none;
}

.form-container input::placeholder {
  color: #AFAFAF;
}

.form-half {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 30px;
}
