.phone-fixed {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #F37321;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 48px;
  bottom: 48px;
}

.slider {
  margin-top: -120px;
}

.slider-item {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0,0,0,0.3);
}

.slider-item .container-fluid {
  z-index: 2;
  flex: 1;
}

.slide-title {
  color: #FFFFFF;
}

.slide-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #FFFFFF;
  margin-top: 20px;
}

.slide-picture {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.events {
  background: #F37321;
  padding-top: 143px;
}

.events-slide-picture img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  display: block;
  transform: translateY(-70px);
  opacity: 0;
  transition: all 1.2s ease;
  transition-delay: 0.5s;
}

.swiper-slide-active .events-slide-picture img {
  transform: translateY(0);
  opacity: 1;
  transition: all 1.2s ease;
  transition-delay: 0.5s;
}

.events-slide-picture:before {
  content: '';
  position: absolute;
  width: 303px;
  height: 303px;
  left: 2%;
  bottom: -14%;
  border: 32px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 1;
}

.events:before {
  content: '';
  background: rgba(235, 0, 255, 0.4);
  filter: blur(217px);
  position: absolute;
  left: -3%;
  top: -25%;
  width: 49%;
  height: 0;
  padding-top: 49%;
  border-radius: 50%;
}

.events:after {
  content: '';
  background: #F2CA64;
  filter: blur(217px);
  position: absolute;
  right: 0;
  bottom: -25%;
  width: 49%;
  height: 0;
  padding-top: 49%;
  border-radius: 50%;
}

.events-slide-caption {
  max-width: 570px;
  margin: 0 auto;
  transform: translateX(20px);
  opacity: 0;
  transition: all 1s ease;
  transition-delay: 1s;
}

.events-slide-title, .events-slide-text {
  text-align: center;
}

.swiper-slide-active .events-slide-caption {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease;
  transition-delay: 1s;
}

.swiper-slide-active .events-slide-text {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease;
  transition-delay: 0.8s;
}

.exhibitions {
  background: #6D74FE;
  display: flex;
  align-items: center;
}

.exhibitions-slide-picture img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: auto;
  z-index: 1;
  transform: translateY(100px);
  transition: all 1.2s ease;
  opacity: 0;
  transition-delay: 0.4s;
}

.swiper-slide-active .exhibitions-slide-picture img {
  transform: translateY(0);
  transition: all 1.2s ease;
  opacity: 1;
  transition-delay: 0.4s;
}

.exhibitions-slide-picture:before {
  content: '';
  position: absolute;
  width: 437px;
  height: 437px;
  left: 20%;
  top: 40%;
  border: 32px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 1;
}

.exhibitions:before {
  content: '';
  position: absolute;
  width: 44%;
  height: 0;
  padding-top: 44%;
  background: #64E1F2;
  filter: blur(217px);
  left: -80px;
  border-radius: 50%;
}

.exhibitions:after {
  content: '';
  position: absolute;
  width: 49%;
  height: 0;
  padding-top: 49%;
  background: rgba(235, 0, 255, 0.4);
  filter: blur(217px);
  right: 0;
  bottom: -27%;
  border-radius: 50%;
}

.exhibitions .container-fluid {
  display: flex;
  align-items: center;
}

.exhibitions-slide-caption {
  margin-left: auto;
  transform: translateY(-100px);
  transition: all 1s ease;
  opacity: 0;
  transition-delay: 1s;
  padding-right: 130px;
}

.exhibitions-slide-title, .exhibitions-slide-text {
  max-width: 306px;
}

.swiper-slide-active .exhibitions-slide-caption {
  transform: translateY(0);
  transition: all 1s ease;
  opacity: 1;
  transition-delay: 1s;
}

.fit-out {
  background: #FF5FE5;
}

.fit-out-slide-picture img {
  position: absolute;
  width: 75%;
  height: auto;
  left: 0;
  bottom: 0;
  z-index: 1;
  transform: translateY(-70px);
  transition: all 1.2s ease;
  opacity: 0;
  transition-delay: 0.4s;
}

.swiper-slide-active .fit-out-slide-picture img {
  transform: translateY(0);
  transition: all 1.2s ease;
  opacity: 1;
  transition-delay: 0.4s;
}

.fit-out:before {
  content: '';
  position: absolute;
  width: 49%;
  height: 0;
  padding-top: 49%;
  background: #FF3850;
  filter: blur(217px);
  left: -5%;
  top: -20%;
  border-radius: 50%;
}

.fit-out:after {
  content: '';
  position: absolute;
  width: 49%;
  height: 0;
  padding-top: 49%;
  background: #FF9900;
  filter: blur(217px);
  right: 0;
  bottom: -27%;
  border-radius: 50%;
}

.fit-out .container-fluid {
  display: flex;
  align-items: center;
}

.fit-out-slide-caption {
  margin-left: auto;
  margin-top: -50px;
  transform: translateY(100px);
  transition: all 1s ease;
  opacity: 0;
  transition-delay: 1s;
  padding-right: 108px;
}

.fit-out-slide-title, .fit-out-slide-text {
  max-width: 320px;
}

.swiper-slide-active .fit-out-slide-caption {
  transform: translateY(0);
  transition: all 1s ease;
  opacity: 1;
  transition-delay: 1s;
}

.slider-pagination-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  width: 100%;
  height: 0;
  z-index: 1;
}

.slider-pagination {
  position: absolute;
  width: fit-content!important;
  height: fit-content;
  right: 48px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-pagination {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 35.5px;
  padding: 20px 15px;
  left: initial!important;
  right: 48px!important;
}

.slider-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0!important;
  background: transparent;
  border: 1px solid #FFFFFF;
  opacity: 1;
}

.slider-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-top: 20px!important;
}

.slider-pagination .swiper-pagination-bullet-active {
  background: #FFFFFF;
}

.about {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.about-caption {
  width: 42%;
  flex-shrink: 0;
  z-index: 1;
}

.about-caption .title-lg {
  margin-top: 10px;
}

.about-caption p {
  margin-top: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  color: #646D79;
}

.about-caption .text-link {
  margin-top: 50px;
}

.about-img {
  width: calc(58% - 75px);
  z-index: 1;
}

.about-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.about-logo {
  position: absolute;
  right: 80px;
  bottom: -145px;
}

.partner-slider {
  margin-top: 30px;
}

.partner-slider-item {
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
}

.partner-slider-item img {
  max-width: 100%;
  max-height: calc(100% - 30px);
  object-fit: contain;
}

.pagination-dark {
  position: static;
  transform: none!important;
  margin: 40px auto 0 auto;
  display: flex;
}

.pagination-dark .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.pagination-dark .swiper-pagination-bullet-active {
  background: #060301;
  border-color: #060301;
}

.numbers-container {
  background: url("../img/main/numbers-bg.png") no-repeat center/cover;
  border-radius: 20px;
  padding: 70px 70px 85px 70px;
  display: flex;
}

.numbers-title {
  width: 37%;
  flex-shrink: 0;
}

.numbers-title .title-lg {
  color: #fff;
}

.numbers-title p {
  margin-top: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  color: rgba(255, 255, 255, 0.6);
}

.numbers-list {
  margin-left: 100px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 120px;
  grid-row-gap: 65px;
}

.numbers-item b {
  display: block;
  white-space: nowrap;
  color: #fff;
}

.numbers-item p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #F78F2C;
}

.service .subtitle {
  text-align: center;
}

.service .title-lg {
  text-align: center;
  margin-top: 10px;
}

.service-list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.service-item {
  background: #FFFFFF;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.service-caption {
  position: relative;
  padding: 38px 44px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.service-title {
  display: flex;
  align-items: center;
}

.service-title span {
  margin-left: 18px;
  transition: 0.5s ease;
}

.service-text {
  margin-top: auto;
}

.service-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #707070;
  transition: 0.5s ease;
}

.service-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: 0.5s ease;
  opacity: 0;
}

.service-item:hover {
  .service-bg {
    opacity: 1;
  }
  .title-md {
    color: #fff;
  }
  .service-text p {
    color: #fff;
  }
  &:before, &:after {
    border-color: #fff!important;
  }
}

.service-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-item:before, .service-item:after {
  z-index: 4;
  transition: 0.5s ease;
}

.service-item:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.service-item:nth-of-type(1) .service-text {
  max-width: 470px;
}

.service-item:nth-of-type(1):before {
  content: '';
  position: absolute;
  right: 165px;
  top: -104px;
  border: 32px solid #F37321;
  width: 303px;
  height: 303px;
  border-radius: 50%;
  z-index: 6;
}

.service-item:nth-of-type(1):after {
  content: '';
  position: absolute;
  right: -103px;
  bottom: -130px;
  border: 20px solid #F6F7F9;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  z-index: 6;
}

.service-item:nth-of-type(4):before {
  content: '';
  position: absolute;
  right: -103px;
  top: -160px;
  border: 20px solid #F6F7F9;
  width: 260px;
  height: 260px;
  border-radius: 50%;
  z-index: 6;
}

.service .text-link {
  margin: 50px auto 0 auto;
}

.feedback {
  display: flex;
  align-items: center;
}

.feedback-caption {
  background: url("../img/logo/logo-xl-orange.svg") no-repeat center/contain, #F37321;
  box-shadow: 0 14px 30px rgba(243, 115, 33, 0.44);
  border-radius: 20px;
  padding: 75px 289px 87px 67px;
  max-width: 860px;
  flex-shrink: 0;
  min-height: 450px;
}

.feedback-caption .title-md {
  color: #fff;
}

.feedback-caption p {
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #FFFFFF;
}

.feedback-form {
  position: relative;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 37px 44px 50px 44px;
  width: 500px;
  flex-shrink: 0;
  margin-left: -250px;
}

.feedback-form b {
  display: block;
  font-family: 'Phenomena', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  text-transform: lowercase;
  color: #000000;
  margin-bottom: 25px;
}

.feedback-form .form-container {
  margin-bottom: 7px;
}

.feedback-form .submit-btn {
  margin-top: 30px;
}

.projects {
  min-height: 770px;
}

.projects-container {
  background: #E9ECF1;
  border-radius: 20px;
  padding: 80px 55px 55px 55px;
  min-height: 770px;
  display: flex;
  flex-direction: column;
}

.projects-container h2 {
  font-family: 'Phenomena', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 140px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #ABB5C7;
}

.projects-container .text-link {
  margin: auto 0 0 auto;
}

.projects-slider {
  margin-top: -536px;
  overflow: visible;
}

.projects-slider-item {
  width: 400px!important;
  height: 400px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 50px 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform-style: preserve-3d;
  transform: perspective(300px);
}

.projects-slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
}

.projects-slider-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(23, 20, 20, 0) 42.14%, rgba(21, 17, 17, 0.76) 94.23%);
}

.projects-slider-caption {
  user-select: none;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 35.5px;
  padding: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 83%;
  text-align: center;
  color: #FFFFFF;
}

.projects-pagination {
  position: static;
  transform: none!important;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: center;
}

.projects-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #B1B7C1;
  opacity: 1;
  margin: 0 10px!important;
}

.projects-pagination .swiper-pagination-bullet-active {
  background: #ABB5C7;
  border-color: #ABB5C7;
}






.news .title-lg {
  text-align: center;
}

.news-slider {
  margin-top: 77px;
}

.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 35px 30px;
  transition: 0.2s ease;
  cursor: pointer;
}

.news-card-img {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 23.68%, rgba(0, 0, 0, 0.45) 72.89%, rgba(0, 0, 0, 0.73) 100%);
  border-radius: 20px;
  overflow: hidden;
  height: 230px;
  width: 100%;
}

.news-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s ease;
}

.news-card b {
  display: block;
  margin-top: 22px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-card .text-link {
 margin-top: 45px;
}

.about-img p {
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  color: #646D79;
}

.about-img p + p {
  margin-top: 28px;
}

.about-page .about {
  padding-top: 130px;
}

.about-page .partner {
  padding-top: 65px;
}

.description {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.description-caption {
  width: 44%;
  flex-shrink: 0;
}

.description-caption .title-md {
  color: #373737;
}

.description-img {
  margin-left: 80px;
  width: calc(56% - 80px);
  position: relative;
  border-radius: 20px;
  flex-shrink: 0;
}

.description-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  z-index: 2;
  position: relative;
}

.description-img:after {
  content: '';
  position: absolute;
  left: 40px;
  top: 40px;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 20px;
}

.description-logo {
  margin: 0 auto;
}

.team {
  padding-top: 85px;
}

.team-list {
  margin-top: 72px;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
}

.employee-card {
  z-index: 1;
}

.employee-img {
  border-radius: 20px;
  overflow: hidden;
  height: 270px;
  width: 100%;
}

.employee-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.employee-card b {
  display: block;
  margin-top: 30px;
  font-family: 'Phenomena', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #373737;
}

.employee-card span {
  display: block;
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  color: #646D79;
}

.employee-card:nth-child(even) {
  padding-top: 72px;
}

.team-list:before {
  content: '';
  position: absolute;
  width: 303px;
  height: 303px;
  border-radius: 50%;
  border: 32px solid #F37321;
  right: 98px;
  top: -91px;
}

.feedback-reverse {
  .feedback-caption {
    padding: 61px 350px 63px 66px;
    background: #FFFFFF;
    box-shadow: none;
    display: flex;
    flex-direction: column;
  }
  .feedback-caption p {
    margin-top: auto;
    color: #707070;
  }
  .feedback-form {
    background: #F37321;
    box-shadow: 0 14px 30px rgba(243, 115, 33, 0.44);
  }
  .feedback-form b {
    color: #fff;
  }
  .form-container input {
    color: #fff;
  }
  .form-container input::placeholder {
    color: #fff;
  }
  .submit-btn-light {
    margin-top: 30px;
  }
}

.help {
  padding-top: 130px;
}

.help .subtitle {
  text-align: center;
}

.help .title-lg {
  text-align: center;
}

.help-row {
  display: flex;
  margin-top: 130px;
}

.help-left {
  width: 37%;
}

.help-left p {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  color: #646D79;
}

.help-right {
  width: 63%;
  padding-left: 200px;
}

.help-item .title-md {
  position: relative;
}

.help-item .title-md:before {
  content: '';
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
}

.help-item:nth-child(1) .title-md:before {
  background: url("../img/icon/bulb.svg") no-repeat center/contain;
  width: 36px;
  height: 35px;
}

.help-item:nth-child(2) .title-md:before {
  background: url("../img/icon/pen.svg") no-repeat center/contain;
  width: 38px;
  height: 37px;
}

.help-item:nth-child(3) .title-md:before {
  background: url("../img/icon/figure.svg") no-repeat center/contain;
  width: 34px;
  height: 34px;
}

.help-item p {
  margin-top: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  color: #646D79;
}

.help-item + .help-item {
  margin-top: 50px;
}

.service-cards {
  padding-top: 130px;
}

.service-card {
  display: flex;
  align-items: center;
}

.service-card-caption {
  background: #E9ECF1;
  border-radius: 20px;
  padding: 60px 340px 60px 60px;
  width: 860px;
  flex-shrink: 0;
  min-height: 540px;
}

.service-card-caption .title-lg {
  margin-bottom: 30px;
}

.service-card-caption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #707070;
}

.service-card-caption p + p {
  margin-top: 25px;
}

.service-card-img {
  width: 500px;
  margin-left: -250px;
  z-index: 1;
}

.service-card-img img {
  border-radius: 20px;
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.service-card-img .text-link {
  margin-top: 45px;
}

.service-card.reverse {
  .service-card-caption {
    padding: 60px 60px 60px 340px;
  }
  .service-card-img {
    margin-left: initial;
    margin-right: -250px;
  }
}

.service-page .service-card + .service-card {
  margin-top: 30px;
}

.portfolio {
  padding-top: 90px;
}

.nav-pills {
  min-width: 120px;
  margin-right: 70px;
}

.tab-link {
  border: none;
  background: transparent;
  font-family: 'Phenomena', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  color: #B9B9B9;
  cursor: pointer;
  padding: 0;
  text-align: left;
}

.tab-link.active {
  color: #F37321;
}

.tab-link + .tab-link {
  margin-top: 40px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-card {
  width: calc(50% - 30px);
  margin: 15px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.portfolio-card-img {
  height: 270px;
  position: relative;
}

.portfolio-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loup-icon {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  opacity: 0;
}

.portfolio-card-caption {
  padding: 16px 30px 24px 30px;
  background: #fff;
  font-family: 'Phenomena', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  color: #373737;
}

.portfolio-card-caption span {
  color: #B9B9B9;
}

.portfolio-detail-page {
  padding-top: 75px;
}

.portfolio-desc {
  display: flex;
  padding-top: 40px;
}

.portfolio-desc-caption {
  width: 40%;
  flex-shrink: 0;
}

.portfolio-desc-caption .title-lg {
  margin-top: 10px;
}

.portfolio-desc-caption p {
  margin-top: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  color: #646D79;
}

.portfolio-desc-caption p + p {
  margin-top: 28px;
}

.portfolio-desc-img {
  position: relative;
  margin-left: 100px;
  display: flex;
  flex: 1;
}

.portfolio-desc-img img {
  width: 330px;
  height: 330px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
  z-index: 3;
}

.portfolio-desc-img img + img {
  margin-top: 99px;
  margin-left: -97px;
}

.portfolio-desc-img:before {
  content: '';
  width: 561px;
  height: 561px;
  border-radius: 50%;
  border: 32px solid #FFFFFF;
  position: absolute;
  top: -60px;
  right: -57px;
  z-index: 2;
}

.portfolio-desc-img:after {
  content: '';
  position: absolute;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #F37321;
  filter: blur(217px);
  z-index: 1;
}

.portfolio-img img {
  width: 100%;
  height: auto;
  max-height: 600px;
  border-radius: 20px;
  object-fit: cover;
}

.portfolio-img img + img {
  margin-top: 30px;
}


@import "media";
