.i-room {
  background: url("../img/icon/room.svg");
  width: 38px;
  height: 29px;
}

.i-calendar {
  background: url("../img/icon/calendar.svg");
  width: 38px;
  height: 29px;
}

.i-maze {
  background: url("../img/icon/maze.svg");
  width: 38px;
  height: 29px;
}

.i-shop {
  background: url("../img/icon/shop.svg");
  width: 38px;
  height: 29px;
}

.i-phone {
  background: url("../img/icon/phone.svg");
  width: 24px;
  height: 24px;
}
